<a href="https://colab.research.google.com/github/Tanhost/Tanhost/blob/main/lesson9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#concatenate two lists
my_list = ["a", "b", "c", "d"]
number_list = [1, 2, 3, 4]
print(my_list + number_list)

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [3]:
#change elements
my_list = ["a", "b", "c", "d"]
my_list[1] = 7
print(my_list)

['a', 7, 'c', 'd']

In [8]:
#add an element
my_list = ["a", "b", "c", "d", "e"]
my_list.insert(1,7)
print(my_list)

['a', 7, 'b', 'c', 'd', 'e']

In [9]:
#remove element
my_list = ["a", "b", "c", "d"]
my_list.remove("d")
print(my_list)

['a', 'b', 'c']